body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 800px;
    height: 200px;
}
.green {
    background-color: green;
    color: white;
}